.button {
  outline: none;
  border: none;
  padding: 0.6rem 3rem;
  background-color: #0188f3;
  margin: 1rem;
  color: white;
}

.mainContainer {
  background-color: #f6fafd;
  padding: 3rem 0;
  min-height: 100vh;

  .left {
    .leftHeading {
      color: #414756;
    }
    .leftWritingPara {
      margin-top: 20px;
    }

    .leftWritingMenu {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      color: #707070;

      .leftFieldBox {
        .leftInputCountField {
          width: 80px;
          outline: none;
          border: none;
          background-color: transparent;
          border: 1px solid #0188f3;
          padding: 6px;
          margin-left: 6px;
        }
        .numberField {
          width: 50px;
        }
      }
    }

    .leftWordsCharacterCount {
      text-align: end;
      margin: 1rem 0;
      color: #707070;
    }

    .leftWritingContent {
      background-color: white;
      height: 500px;
      box-shadow: 0px 6px 15px #00000029;
      color: #414756;

      .top {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: 0 1rem;
        padding: 0.6rem 0;
        border-bottom: 1px solid #707070;

        .keywordShadow {
          box-shadow: 0px 6px 15px #00000029;
          padding: 0 8px;
        }
      }

      .leftParagraph {
        padding: 1rem 1.5rem;
        color: #707070;
        text-align: justify;
      }
    }
  }

  .right {
    margin-bottom: 4rem;
    border-right: 4px solid #414756;
    padding: 0 1rem;
    border-left: 1px solid #707070;
    .rightBtnGroup {
      text-align: end;
    }

    .rightBtnCenter {
      display: flex;
      justify-content: center;
      width: 70%;
      margin: 0 auto;
      margin-top: 1.6rem;
    }

    .rightClearText {
      text-align: end;
      color: #ff8d8d;
    }

    .copyParaGroup {
      margin-top: 4rem;
      .rightParaGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 6px 15px #00000029;
        padding: 0.5rem;
        margin-bottom: 20px;
        span {
          color: #0188f3;
        }
        .rightParagraph {
          font-size: 14px;
          border-left: 1px solid #707070;
          padding-left: 10px;
          color: #707070;
        }
      }
    }
  }
}
